@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.banner {
    margin-bottom: 0.3rem;
    padding: 1rem;
    text-align: center;
    height: 15vw;
    font-family: 'Merriweather', serif;   
    color: $Wblue;
}

.break-between {
    background-color: $Wblue;
    height: 1rem;
    width: inherit;
}

.navbar-custom {
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: 'serif';
    background-color: #C5C6D6;
    justify-content: space-between;
    text-emphasis: bold;
    font-size: 1.3vw;
}

.navbar-custom li a {
    color: $Wblue !important; 
}
.navbar-custom li a:hover { 
    color: grey !important;
}

@media only screen and (max-width: 1030px) {
    .navbar-custom {
    padding: 0.2rem;
    font-size: 2.5vw;
    }
  }