.main {
   margin: 0rem 8rem 4rem 8rem;
   font-size: 2vw;
}

@media only screen and (max-width: 600px) {
    .main {
     margin: 2rem;
     font-size: 3vw;
    }
  }

// HOME PAGE
.intro {
  margin: 2rem;
  padding: 1rem;
  background-color: #F67280;
  border-radius: 1%;
  font-size: 1.3vw;
}

@media only screen and (max-width: 600px) {
  .intro {
    padding: 0.5 rem;
   margin: 2rem;
   font-size: 3vw;
  }
}

// SUPPORT PAGE
.contain {
  margin-bottom: 4rem;
}

.hero {
  margin-bottom: 4rem;
  padding: 4rem 8rem 4rem 8rem;
  background-color: #F67280;
}

@media only screen and (max-width: 600px) {
  .hero {
    margin-bottom: 2rem;
  padding: 10%;
  line-height: 1.5rem;
  font-size: 3vw;
  }
}

.form-custom {
  margin: auto;
  padding: 2rem;
  display: block;
  background-color: $Wyellow;
  height: inherit;
  width: 40rem;
  border-radius: 1%;
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  .form-custom {
  padding: 1rem;
  width: auto;
  line-height: 1.5rem;
  font-size: 3vw;
  }
}